version: '3.2'
services:
  redis:
    image: redis:7-alpine
    container_name: cache
    ports:
      - 6379:6379
  dragonfly:
    image: 'docker.dragonflydb.io/dragonflydb/dragonfly:v1.27.0'
    ports:
      - '6380:6379'
    environment:
      DFLY_cluster_mode: 'emulated'
      DFLY_lock_on_hashtags: 'true'
      DFLY_default_lua_flags: 'allow-undeclared-keys'
      HEALTHCHECK_PORT: 6379
