async-timeout==4.0.3
certifi==2024.12.14
distlib==0.4.0
filelock==3.20.3
msgpack==1.1.2
pipenv==2023.12.1
platformdirs==3.11.0
pre-commit==3.8.0
pytest==8.4.2
pytest-timeout==2.4.0
redis==6.4.0
semver==3.0.4
six==1.17.0
virtualenv==20.36.1
virtualenv-clone==0.5.7
