async-timeout==4.0.3
certifi==2024.7.4
distlib==0.3.7
filelock==3.12.2
msgpack==1.0.5
pipenv==2023.7.4
platformdirs==3.9.1
pre-commit==3.3.3
pytest==8.3.5
pytest-timeout==2.4.0
redis==6.2.0
semver==2.13.0
six==1.16.0
virtualenv==20.26.6
virtualenv-clone==0.5.7
