name: Api build
on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [lts/*]

    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3
        with:
          # check out all branches
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@e33196f7422957bea03ed53f6fbb155025ffc7b8 # v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
      - name: yarn install
        run: |
          yarn install
      - name: build
        run: |
          git config --global user.email "manast@taskforce.sh"
          git config --global user.name "manast"
          git checkout docs-api
          git merge master --no-edit -m "chore: merge master branch on $(date +%F)"
          yarn pretest
          yarn docs:json
          git add .
          yarn docs:merge
        env:
          CI: true
      #- name: deploy
      #  uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847 # v3
      #  with:
      #    github_token: ${{ secrets.GITHUB_TOKEN }}
      #    publish_dir: ./docs
      #    cname: 'api.docs.bullmq.io'
